/* Custome Shared Styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    padding:15px 25px;
    border: none;
    border-radius: 20px;
    background-color: #FF42A5;
    color: white;
    cursor: pointer;
}
.btn2{
    background-color: #4EC5F7;
    color: white;
}
.btn4{
    background-color: white;
    color: #FF42A5;
    margin-top: 20px;
    border-radius: 50px;
}
.pink-color-font{
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2, 
                    #8758F1); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}
/* End Shared Styles */
/* nav style */
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 7px -5px;
    padding: 40px 0px;
}
.logo-title{
    font-weight: 800 ;
}
.logo{
    width: 35%;
}
.logo-firstletter{
    color: #FF42A5;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: #FF42A5;
}
.followuson{
    background-color: #0b02232a;
    padding: 5px 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.svgutube{
    padding: 0px 10px;
}
/* end nav */
/* start banner */
.banner-container{
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bannerimg{
    width: 100%;
}
.banner-title{
    font-size: 2.4rem;
}
.bannertitletwo{
    font-size: 4.4rem;
    font-weight: 800;
    background: linear-gradient(to bottom, #F948B2, 
                    #8758F1); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}
.banner-container li{
    list-style: none;
}
.bannerli{
    margin: 20px 0px;
}
.bannerli li{
    margin-bottom: 8px;
}
/* end banner styles */

/* start gamer section */
.we-are-gamer{
    background-color: #ff42a40c;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.btn3{
    font-size: 1rem;
}
.wearegamer-content{
    text-align: right;
}
.wearegamer-description{
    margin: 15px 0px;
}
.ourpurpose{
    margin-top: 40px;
    font-size: 1.3rem;
}
.unleashgamer{
    font-size: 1.7rem;
    font-weight: 700;
}
/* end gamer section */

/* start online gamer styles */
.online-gamer{
    margin-top: 100px;
    text-align: center;
}
.online-gamer-title{
    font-size: 2.3rem;
}
.online-gamer-cart-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* play instant styles */
.play-instant-container{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-instant-content{
    text-align: right;
    position: relative;
    left: 123px;
}
.play-instantly, .no-downloads, .no-installs{
    font-size: 2.8rem;
    font-weight: 800;
}
.play-instantly{
    color: #FF42A5;
}
.play-instant-image{
    position: relative;
    left: 113px;
}
.pi1{
    width: 80%;
}
.pi2{
    width: 50%;
    position: absolute;
    right: 550px;
    top: 200px;
}
/* end instant style */

/* start play games styles */
.play-games-container{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-games-content{
    text-align: left;
    position: relative;
    right: 123px;
}
.play-games, .online-anywhere, .anytime{
    font-size: 2.8rem;
    font-weight: 800;
}
.play-games{
    color: #FF42A5;
}
.play-games-image{
    position: relative;
    right: -12px;
}
.pg1{
    width: 90%;
}
.pg2{
    width: 40%;
    position: absolute;
    left: 417px;
    top: 300px;
}
/* END ONLINE GAMES STYLES */

/* start career styles */
.career-container{
    margin-top: 80px;
    background-color: #FF42A5;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    color: white;
}
.career-title{
    font-size: 2rem;
}
.career-description{
    margin: 20px 0px;
}
.openings{
    display: flex;
    gap: 20px;
    font-weight: 700;
}
.job, .location{
    padding: 10px 0px ;
}
.career-image{
    
}
.carrerimg{
    max-width: 100%;
    height: auto;
    
}
/* end carrer styles */
/* start logos */
.logos-container{
    margin-top: 80px;
}
.five-logos, .flh{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.four-logos{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.flh:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
}
.flht:hover{
    color: #FF42A5;
}
 /* responsive */
 @media screen and (max-width: 576px) {
    .logo-container{
        flex-direction: column;
    }
    .nav-container{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .online-gamer-cart-container{
        flex-direction: column;
    }
    .gameimg{
        width: 100%;
    }
 }